@import "src/styles/common";

.reg-success {
    &-container {
        display: flex;
        flex-direction: column;
    }

    &-check-container {
        margin: 24px 0;
        align-self: center;
        height: 64px;
        width: 64px;
        background-color: $themeColor;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
