.header-text {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px 0 48px 0;
    }

    &-title {
        font-size: 28px;
        font-weight: bold;
    }

    &-subtitle {
        margin-top: 12px;
        color: #808080;
    }

    @media only screen and (max-width: 600px) {
        &-container {
            max-width: calc(100% - 48px);
            align-self: center;
            text-align: center;
        }
    }
}
